{% extends 'template.html' %}

{% block content %}
<div class="container">
  <div class="pagetitle">
    <h1>Editar resenia </h1>
  </div>
   
  <section class="section">
    <div class="row">
      <div class="col-lg-18">
        <div class="card custom-card">
          <div class="card-body custom-card-body">
            <h5 class="card-title">Ingresa los datos del inversionista </h5>
            <form class="row g-3 needs-validation" method="POST" action="/admin/resenia/update" novalidate>
              <input type="hidden" name="id" value="{{ resenia.idResenia }}"/>

              <div class="mb-3">
                <label for="comentario" class="form-label">Reseña</label>
                <!-- <input type="text" class="form-control" id="nombre" name="comt" value="{{resenia.comentario}}" required> -->
                <input type="text" class="form-control" id="comentario" name="comentario" value="{{ resenia.comentario }}" required>
              </div>

              <div class="mb-3">
                <label for="calificacion" class="form-label">Calificacion</label>
                <!-- <input type="Float" class="form-control" name="calificacion" required value="{{ resenia.calificacion }}"> -->
                <!-- <input type="text" class="form-control" id="calificacion" name="calf" value="{{resenia.calificacion}}" required> -->
                <input type="text" class="form-control" id="calificacion" name="calificacion" value="{{ resenia.calificacion }}" required>
              </div>

              <button type="submit" class="btn btn-primary">Guardar</button>
              <a href="/admin/resenia/list" class="btn btn-custom btn-secondary">Cancelar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</div>

{% endblock %}
