{% extends 'template.html' %}

{% block content %}
<div class="container custom-container">
  <div class="pagetitle text-center">
    <h1 class="text-black">Nueva resenia</h1>
  </div>
  
    <h5 class="card-title text-white">Ingresa los datos del inversionista </h5>
    <form class="row g-3 needs-validation" method="POST" action="{{ url_for('router.save_resenia') }}" novalidate>
  <!-- <form class="row g-3 needs-validation" method="POST" action="/admin/resenia/saveResenia" novalidate> -->
    <div class="mb-3">
      <div class="mb-3">
        <label for="comt" class="form-label text-black">Comentario</label>
        <input type="text" class="form-control custom-input" name="comt" required>
      </div>
      <label for="calf" class="form-label text-black">Calificacion</label>
      <input type="text" class="form-control custom-input" name="calf" required>
    </div>
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-custom btn-light">Guardar</button>
      <a href="/admin/resenia/list" class="btn btn-custom btn-secondary">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}


