{% extends 'template.html' %}
{% block content %}

<div class="pagetitle">
    <div class="col-12 d-flex flex-column align-items-center">
      <h2 class="mt-4 text-black">Lista de Reseñas </h2>
      <div class="d-flex justify-content-end w-100 mb-3">
        <a href="/admin/resenia/register">Nuevo</a>
      </div>
      
      <div class="table-responsive w-100">
        <table class="table table-custom text-black custom-table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Resenia</th>
              <th>Calificacion</th>
              <!-- <th>Fecha(segundos)</th> -->
            </tr>
          </thead>
          <tbody>
            {% if list %}
              {% for item in list %}
              <tr id="row-{{ item.idResenia }}">
                <!-- <td>{{ loop.index }}</td> -->
                 <td>{{ item.idResenia}}</td>
                <td>{{ item.comentario }}</td>
                <td>{{ item.calificacion}}</td>
                <td>
                  <a href="/admin/resenia/edit/{{ item.idResenia }}" class="btn btn-custom">Modificar</a>
                  <form action="/admin/resenia/eliminar/{{ item.idResenia }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta resenia?');">ELIMINAR</button>
                </form>
                </td>
              </tr>


              {% endfor %}
            {% else %}
              <tr>
                <td colspan="4" class="text-center">No hay inversionistas.</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}