# Archivos y carpetas específicas del entorno
/.idea/
*.iml
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de compilación y dependencias
/target/
*.class
*.jar
*.war

# Archivos temporales
*.tmp
*.swp
*.bak

# Configuraciones locales
/.vscode/
.env
