{% extends "template.html" %}
{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Agregar Ingrediente</h1>
        <nav class="breadcrumbs">
        </nav>
      </div>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title text-center">Bienvenido</h5>
  
                          <form class="row g-3 needs-validation" method="POST" action="/admin/ingre/save" novalidate>
                              <div class="col-md-6">
                                  <label for="nombre" class="form-label">Nombre</label>
                                  <input type="text" class="form-control" id="nombre" name="nom" required>
                              </div>
  
                              <div class="col-md-6">
                                  <label for="cantidad" class="form-label">Cantidad</label>
                                  <input type="text" class="form-control" id="cantidad" name="can" required>
                              </div>
  
                              <div class="col-md-6">
                                  <label for="unidadMedida" class="form-label">Unidad de Medida</label>
                                  <input type="text" class="form-control" id="medida" name="med" required>
                              </div>
                              <div class="col-12 text-center">
                                  <button class="btn btn-success" type="submit">REGISTRAR</button>
                                  <a href="/admin/ingre/list" class="btn btn-danger">CANCELAR</a>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
{% endblock %}