{% extends 'template.html' %}

{% block content %}
<div class="container">
  <div class="pagetitle">
    <h1>Editar categoria </h1>
  </div>
   
  <section class="section">
    <div class="row">
      <div class="col-lg-18">
        <div class="card custom-card">
          <div class="card-body custom-card-body">
            <h5 class="card-title">Ingresa especificaciones </h5>
            <form class="row g-3 needs-validation" method="POST" action="/admin/categoria/update" novalidate>
              <input type="hidden" value="{{ categoria.idcategoria }}" name="id" />
              <div class="mb-3">
                <label for="comt" class="form-label">Categoria (Salado -  dulce)</label>
                <input type="text" class="form-control" name="comt" required value="{{categoria.tipo}}">
              </div>
              <div class="mb-3">
                <label for="calf" class="form-label">Estado</label>
                <input type="text" class="form-control" name="calf" required value="{{categoria.estado}}">
              </div>

              <button type="submit" class="btn btn-primary">Guardar</button>
              <a href="/admin/categoria/list" class="btn btn-custom btn-secondary">Cancelar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</div>

{% endblock %}
