<!DOCTYPE html>
<html lang="zxx">

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="container mt-4">
            {% for category, message in messages %}
                <div class="alert alert-{{ 'success' if category == 'info' else 'danger' }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Social de Recetas</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"> -->
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">

    <!-- <link rel="stylesheet" href="css/style.css" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>



</head>


<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader">

        </div>
    </div>

    <header class="header-section">
        <div class="container">
            <div class="nav-menu">
                <nav class="main-menu mobile-menu">
                    <ul style="display: flex; align-items: center; gap: 15px; list-style: none; margin: 0; padding: 0;">
                        <li><a href="#" class="menu-item">INICIO</a></li>
                        <li><a href="/receta" class="menu-item">RECETA</a></li>
                        <li>
                            <a href="/admin/account/data" title="Datos de la cuenta" style="display: flex; align-items: center; justify-content: center;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    
                    
                </nav>
                <div class="nav-right search-switch">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div id="mobile-menu-wrap">
                <div class="logo">
                    <img src="static/imagenes/logo.png" alt="logo">
                    <h1 class="site-title">Red Social de Recetas</h1>
                </div>
            </div>
        </div>
    </header>


    <section class="page-top-recipe">

    </section>
    <!-- Page Top Recipe Section Begin -->
    <section class="top-recipe spad">
        <div class="section-title">
            <h5>Recetas de la Semana</h5>
        </div>
        <div class="container po-relative">
            <div class="plus-icon">
                <a href="a" style="color: aliceblue;">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="top-recipe-item large-item">
                        <div class="top-recipe-img">
                            <img src="https://www.unileverfoodsolutions.es/dam/global-ufs/mcos/SPAIN/calcmenu/recipes/ES-recipes/general/ensalada-c%C3%A9sar/main-header.jpg/jcr:content/renditions/cq5dam.thumbnail.desktop.jpeg"
                                alt="Ensalada César">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="top-recipe-text">
                            <div class="cat-name">Vegano</div>
                            <a href="#">
                                <h4>Ensalada Cesar</h4>
                            </a>
                            <p>"La ensalada César es un clásico que nunca pasa de moda: crujiente lechuga, picatostes
                                tostados, queso parmesano y ese aderezo cremoso que la hace irresistible. ¡Simple,
                                fresca y deliciosa en cada bocado! 🥗</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="top-recipe-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="top-recipe-img set-bg"
                                    data-setbg="https://www.recetassinlactosa.com/wp-content/uploads/2023/05/Tarta-au-chocolat.jpg.webp">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="top-recipe-text">
                                    <div class="cat-name">Postre</div>
                                    <a href="#">
                                        <h4>Tarta de Chocolate</h4>
                                    </a>
                                    <p>Una deliciosa tarta de chocolate, esponjosa y llena de sabor,
                                        perfecta para endulzar cualquier momento. 🍫✨</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-recipe-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="top-recipe-img set-bg"
                                    data-setbg="https://cdn0.uncomo.com/es/posts/9/9/4/como_hacer_pie_de_fresa_31499_600.webp">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="top-recipe-text">
                                    <div class="cat-name">Postre</div>
                                    <a href="#">
                                        <h4>Tarta de Fresa</h4>
                                    </a>
                                    <p>Una dulce y refrescante tarta de fresa,
                                        con un toque cremoso y un sabor irresistible. 🍓✨</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-recipe-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="top-recipe-img set-bg"
                                    data-setbg="https://www.recetasnestle.com.ec/sites/default/files/styles/recipe_detail_desktop_new/public/srh_recipes/ea5d124e0c346a69b85728b1ca1a11e2.webp?itok=gD6PgUII">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="top-recipe-text">
                                    <div class="cat-name">Aperitivo</div>
                                    <a href="#">
                                        <h4>Empanadas de carne</h4>
                                    </a>
                                    <p>Deliciosas empanadas de carne, llenas de sabor y muy fáciles de preparar.
                                        ¡Perfectas para cualquier ocasión</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-recipe-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="top-recipe-img set-bg"
                                    data-setbg="https://www.recetasnestle.com.ec/sites/default/files/styles/recipe_detail_desktop_new/public/srh_recipes/bbb31707c4bd37def6dd0ae89d42e085.webp?itok=1U9BUf6D">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="top-recipe-text">
                                    <div class="cat-name">Mariscos</div>
                                    <a href="#">
                                        <h4>Ceviche de pescado </h4>
                                    </a>
                                    <p>Fresco y lleno de sabor, este ceviche combina pescado marinado en limón con
                                        cebolla,
                                        cilantro y un toque de picante 🐟</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Top Recipe Section End -->

    <!-- Categories Filter Section Begin -->
    <div class="categories-filter-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="filter-item">
                        <ul>

                            <li class="active" data-filter=".mostpopular">Más popular</li>
                            <li data-filter=".meatlover">Amantes de carne</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="cf-filter" id="category-filter">
                <div class="cf-item mix all meatlover mostpopular">
                    <div class="cf-item-pic">
                        <img src="https://www.recetasnestle.com.ec/sites/default/files/styles/recipe_detail_desktop_new/public/srh_recipes/7ea4f3b2af8bb20231ff3c4f13e685ab.webp?itok=NqrOKr_h"
                            alt="">
                    </div>
                    <div class="cf-item-text">
                        <h5>Encebollado: ¡El desayuno perfecto para recargar energías!</h5>
                    </div>


                </div>
                <div class="cf-item mix all meatlover">
                    <div class="cf-item-pic glutenfree">
                        <img src="https://www.recetasnestle.com.ec/sites/default/files/styles/recipe_detail_desktop_new/public/srh_recipes/e5cb8814a143a1043c9930b8a57ddab3.jpg?itok=YjT5fCIC"
                            alt="">
                    </div>
                    <div class="cf-item-text">
                        <h5>Fritada: Trozos de cerdo dorados y crujientes</h5>
                    </div>
                </div>
                <div class="cf-item mix all meatlover glutenfree">
                    <div class="cf-item-pic">
                        <img src="https://www.maxionline.ec/wp-content/uploads/2022/08/bolones-mixtos.jpg" alt="">
                    </div>
                    <div class="cf-item-text">
                        <h5>Bolon de Verde:Plátano majado con queso o chicharrón, crujiente y delicioso</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Filter Section End -->

    <!-- Feature Recipe Section Begin -->
    <section class="feature-recipe">
        <div class="section-title">
            <h5>Recetas Destacadas</h5>
        </div>
        <div class="container po-relative">
            <div class="plus-icon">
                <i class="fa fa-plus"></i>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="fr-item">
                        <div class="fr-item-img">
                            <img src="https://www.recetasnestle.com.ec/sites/default/files/styles/recipe_detail_desktop_new/public/srh_recipes/4e4293857c03d819e4ae51de1e86d66a.webp?itok=F7KRSXDy"
                                alt="">
                        </div>
                        <div class="fr-item-text">
                            <h4>Hamburguesas Caseras</h4>
                            <p>"Una jugosa hamburguesa de carne a la parrilla,
                                acompañada de queso derretido, lechuga fresca y pan suave.🍔"</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="fr-item">
                        <div class="fr-item-img">
                            <img src="https://www.laespanolaaceites.com/wp-content/uploads/2019/06/pizza-con-chorizo-jamon-y-queso-1080x671.jpg"
                                alt="">
                        </div>
                        <div class="fr-item-text">
                            <h4>Pizza Casera</h4>
                            <p>Masa crujiente, salsa de tomate casera y una irresistible combinación
                                de queso derretido y tus ingredientes favoritos. ¡Perfecta para compartir!.🍕</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Recipe Section End -->

    <!-- Footer Section Begin -->

    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="fs-left">
                        <div class="logo">
                            <img src="{{ url_for('static', filename='imagenes/logo.png') }}" alt="logo2">
                        </div>
                        <p><strong>Desarrolladores:</strong></p>
                        <p>
                            Sebastian Narvaez
                        </p>
                        <p>
                            Marcos Castillo
                        </p>
                        <p>
                            Joel Tapia
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="social-icons">
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- Footer Section End -->

    <!-- Search model -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Js Plugins -->
    <!--script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script-->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mixitup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>
         setTimeout(function() {
        let alerts = document.querySelectorAll('.alert');
        alerts.forEach(function(alert) {
            alert.classList.add('fade'); // Agrega la clase de animación "fade" si está definida en Bootstrap
            setTimeout(() => alert.remove(), 500); // Elimina el elemento después de la animación
        });
    }, 5000);
    </script>

    <style>
    footer.footer-section.plus {
    background-color: #D08686; /* Manteniendo el color base */
    padding: 40px 0; /* Añadir relleno */
    color: #0f0e0e; /* Texto en blanco para contraste */
    font-family: Arial, sans-serif; /* Fuente limpia y legible */
}

footer.footer-section.plus .fs-left {
    text-align: left;
}

footer.footer-section.plus .logo img {
    max-width: 150px; /* Tamaño razonable para el logo */
    margin-bottom: 20px;
}

footer.footer-section.plus .Desarrolladores {
    font-size: 16px; /* Tamaño del texto */
    line-height: 1.5; /* Espaciado entre líneas */
}

footer.footer-section.plus .Desarrolladores p {
    margin: 0 0 5px; /* Separación entre líneas */
}

footer.footer-section.plus .social-icons {
    text-align: right;
}

footer.footer-section.plus .social-icons a {
    margin: 0 10px; /* Espaciado entre íconos */
    color: #0f0e0e; /* Color blanco para los íconos */
    font-size: 20px; /* Tamaño del ícono */
    transition: color 0.3s ease; /* Animación al pasar el ratón */
}

footer.footer-section.plus .social-icons a:hover {
    color: #FFD700; /* Cambia de color al pasar el ratón */
}

    </style>

    <!-- <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script> -->

    <!-- <script src="js/main.js"></script> -->
</body>

</html>