{% extends "fragmento/inicial/cuenta/Admin.html" %}
{% block content %}


<div class="col-lg-12">
    <div class="card shadow-sm border-0">
        <div class="card-body p-4">
            <div class="col-lg-12">
                <table id="tabla" class="table-bordered table-red">
                    <thead>
                        <tr>
                            <th>Nro</th>
                            <th>DNI</th>
                            <th>Correo</th>
                            <th>Apodo</th>
                            <th>Nombres</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in lista %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.persona.DNI }}</td>
                            <td>{{ item.correo }}</td>
                            <td>{{ item.persona.apodo }}</td>
                            <td>{{ item.persona.nombre }} {{item.persona.apellido}}</td>
                            <td>
                                <a href="/admin/account/delete/{{ item.id }}" class="btn btn-outline-danger">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>








{% endblock %}
